<a href="https://colab.research.google.com/github/tewei0328/pbl-book/blob/master/sqlite3_create.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
conn=sqlite3.connect('aaa.db')

In [0]:
c=conn.cursor()

In [17]:
c.execute("""CREATE TABLE BookList(
  id integer,
  name text,
  rating integer
  )""")

In [18]:
c.execute("INSERT INTO BookList values(1, 'A', 1)")

In [19]:
c.execute("SELECT * FROM BookList")

In [20]:
c.fetchall()

[(1, 'A', 1)]